.padre {
  width: auto;
  height: auto;
  background-color: rgb(8, 55, 58);
  font-family: 'Russo One', sans-serif;

  
  /* IMPORTANTE */
  display: table;
}

.hijo {
  /* IMPORTANTE */
  display: table-cell;
  vertical-align: top;

}

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
